@page "/"
@using BlazorApp3.Models
@using BlazorApp3.Repositorio
@using BlazorApp3.Data
@inject IPermissaoRepositorio ipermissaorepositorio
@inject NavigationManager navigationManager


@code{
    List<PermissaoCliente> todosClientes;
    PermissaoCliente pcliente; 
}

@{
    List<PermissaoTipo> listagemTipos = ipermissaorepositorio.ListarPermissaoTipo();
    List<PermissaoEnviarPara> listagemEnviarPara = ipermissaorepositorio.ListarPermissaoEnviarPara();
    List<PermissaoFormaEnvio> listagemForma = ipermissaorepositorio.ListarFormaPermissao();

    todosClientes = ipermissaorepositorio.ListarClientes();
    pcliente = todosClientes[0];

    string descricaoTipo(int tipo)
    {
        string descricao = "sem valor";

        foreach (var t in listagemTipos)
        {
            if (t.TipoEmailID == tipo)
            {
                descricao =  t.Descrição;
            }
        }
        return descricao;
    }

    string descricaoForma(int forma)
    {
        string descricao = "sem valor";

        foreach (var t in listagemForma)
        {
            if (t.FormaEnvioRmID == forma)
            {
                descricao = t.Descricao;
            }
        }
        return descricao;
    }

    string descricaoEnviarPara(int enviarPara)
    {
        string descricao = "sem valor";

        foreach (var t in listagemEnviarPara)
        {
            if (t.EnviarParaID == enviarPara)
            {
                descricao = t.Descrição;
            }
        }
        return descricao;
    }

    void Remover(int id)
    {
        ipermissaorepositorio.RemoverCliente(id);
    }

    void Editar(int id)
    {
        // editar
        navigationManager.NavigateTo("formulario");
    }
}

<h3> Tabela de Clientes </h3>
<hr />

<NavLink href="adicionar">
    <h5> [+] Adicionar Cliente </h5>
</NavLink>

<table class="table">
    <thead>
        <tr>       
            <th scope="col">Id</th>
            <th scope="col">Permitido</th>
            <th scope="col">TipoEmail</th>
            <th scope="col">EnviarPara</th>
            <th scope="col">FormaEnvio</th>
        </tr>
    </thead>
    <tbody> 
            @{
                foreach (var cliente in todosClientes)
                {
                    <tr>
                        <th scope="row"> @cliente.ClientID</th>
                        <td>@cliente.Permitido</td>
                        <td>@descricaoTipo(cliente.TipoEmailID.TipoEmailID)</td>
                        <td>@descricaoEnviarPara(cliente.EnviarParaID.EnviarParaID)</td>
                        <td>@descricaoForma(cliente.FormaEnvioRmID.FormaEnvioRmID)</td>
                        <button type="button" class="btn btn-outline-primary" @onclick="() => Editar(cliente.ClientID)">Editar</button>
                        <button class="btn btn-outline-danger" @onclick="() => Remover(cliente.ClientID)">Remover</button>
                                             
                    </tr>
                   
                }
            }

    </tbody>
</table>